body {
    background-color: #15173D;
    color: white;
}

h1 {
    text-align: center;
    font-size: 90px;
}
form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

footer {
    text-align: center;
    font-size: 14px;
}

a {
    background-color: white;
    border: none;
    border-radius: 2px;
}

.container {
    margin: 120px auto;
    max-width: 600px;
}

.ask-input {
    background-color: #C9BEFF;
    font-size: 16px;
    color: black;
    padding: 16px;
    width: 80%;
    line-height: 20px;
    border-radius: 50px;
    border: none;
    border-left: 2px solid white;
}

.send-button {
    padding: 10px 30px;
    padding-top: 12px;
    background-color: #C9BEFF;
    color: black;
    border-radius: 50px;
    border: none;
    border-right: 2px solid white;
}

.answer-output {
    background-color: #C9BEFF;
    font-size: 16px;
    line-height: 2;
    color: black;
    margin-bottom: 30px;
    max-width: 600px;
    margin: 45px auto;
    margin-top: 10px;
    padding: 20px;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-radius: 15px;
}